html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

.bodySection {
    border-top: 5px solid black;
    height: 25%;
    padding: 2.5% 1%;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

#aboutMe {
    background-color: #18BC9C;
    color: white;
}

h1, h2, p, span {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

h2 {
    
}

#navBar {
    border-top: none;
    height: 5%;
}


#information {
    background-color: #404040;
}

#map {
    height: 100%;
    width: 100%;
}

span {
    font-size: 1.25em;
    font-weight: 300;
    color: white;
}

#details {
    top: 50%;
    color: white;
    max-width: 100%;
    max-height: 100%;
    display: table;
    background-image: url('../assets/mainDisplay.jpg');
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

#test {
    display: table-cell;
    vertical-align: middle;
}

#footer {
    color: white;
    background-color: black;
    padding: 2.5%;
}
#footer p {
    text-align: center;
}

#information {
    color: white;
}



@media only screen and (min-width: 1024px) {
    #footer p {
        font-size: 1.5em;
    }
}




